<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="js/scripts.js")
		title
	body
		#mano_tel
			img(src="img/manos.png")
		#caja
			h1 Desde ahora participa
			h2 desde tu smartphone
			ul.concept
				li más rápida
				li más amigable
				li más sencilla
			p si no tienes acceso a la webapp
			a(href="#") ingresa aquí

		//- header
		//- 	.ed-container
		//- 		.ed-item.base-100
		//- 			h1 Desde ahora participa
		//- 				span desde tu smartphone
		//- 			ul
		//- 				li más rápida
		//- 				li más amigable
		//- 				li más sencilla
		//- 			p si no tienes acceso a la webapp
		//- 			a(href="#") ingresa aquí
					//- a.logo(href="index.html")
					//- 	img(src="img/logo.svg")
		//- section#form
		//- 	h1 Participa y gana con tus exhibiciones
		//- 	.ed-container
		//- 		form
		//- 			input(type="text", placeholder="ingresa tu correo",required)
		//- 			input(type="password", placeholder="ingresa tu contraseña",required)
		//- 			input(type="submit",value="ingresar")
		//- footer.main-end.cross-end
		//- 	p © 2015
		//- 	img(src="img/footer.svg") 