<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		//-script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://code.jquery.com/jquery-latest.min.js")
		script(src="js/scripts.js")

		title Administrador Tresmontes Lucchetti
	body
		#cajalogin
			header
				img(src="img/logo_super_concurso.png", alt="Logearse")
			form#login
				label Ingresa tu contraseña 
				input(type="password")
				input(type="submit",value="ingresar")



					






						

