section.main{
	width: 100%;

	h1{
		background: #ed1c24;
	    padding: 10px;
	    color: #fff;
	    text-align: left;
	    font-size: 1.1em;
	}

	.admin{
		width: 100%;
		ul{
			margin:0;
			padding: 0;
			list-style: none;
			li{
				display: block;
				margin-bottom: 1em;
				border-bottom: 1px solid $rojo;
				padding-bottom: 1em; 
				a{
					color: $negro;
					text-align: left;
					font-size: 0.9em;
				}
			}
		}
	}

}


article{
	background: #fafafa;
	padding:  0 1em;
}

.content{
	p.bottom-text{
		font-size: 0.8em;
		text-align: left;
		padding: 8px;
	}
	#slides{
		display: none;
		position: relative;
	    /* Show active item in the pagination */
	    .slidesjs-pagination {
	     display: none;
	    }
	    .slidesjs-navigation{
	    	width: 100%;
	    	position: absolute;
	    	top: 45%;
	    	z-index: 99;
	    }
	    .slidesjs-previous{
	       	position: absolute;
	       	left: 10px;
			width: 13px;
			height: 18px;
			background: url(../img/btns-next-prev.png);
			background-position: 1px 18px;

	    }
	    .slidesjs-next{
	    	position: absolute;
	    	right: 10px;
	    	width:13px;
	    	height: 18px;
			background: url(../img/btns-next-prev.png);
			background-position: -12px 18px;
	    }
	}
}



.content-caja-mensajes{
	form.message{
		width: 100%;
		background: #f9f9f9;
		padding: 10px;
		text-align: left;
		h3{
			margin-top: 0;
			text-align: left;
		}
		textarea{
			width: 100%;
			height: 70px;
			padding: 15px;
		}
		.enviar{
			border:none;
			background: $rojo;
			text-align: center;
			padding: 7px 14px;
			color: $blanco;
			transition: all .3s;
			cursor: pointer;
			border-radius: 4px;
			&:hover{
				background: $rojo-darks;
			}
		}
	}
}

.content{
	h2{
		color:#ccc;
		text-align: left;
		font-size: 1.3em;
		color: #222;
		border-bottom: 1px solid #ccc;
		padding-left: 15px;
		padding-bottom: 15px;
	}
	table.table{
		width: 100%;
		table-layout: auto;
			th, td{
				padding:10px;
				border-bottom: 1px solid #ddd;
				font-size: 0.8em;
			}
		tr{
			text-align: center;
			font-size: 1.1em;
		}
	}
}

section.paginacion{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

	section.paginacion {
		margin:20px 0;
	}

	section.paginacion ul {
		list-style:none;
		text-align: center;
	}

	section.paginacion ul li {
		display:inline-block;
		margin-right:10px;
	}

	section.paginacion ul li a {
		display:block;
		padding:5px 10px;
		color:$rojo;
		background:#f9f9f9;
		text-decoration: none;
	}

	section.paginacion ul li a:hover {
		background:$rojo;
		color: $blanco;
	}

	section.paginacion ul li .activate {
		background:$rojo;
		color: $blanco;
		font-weight:bold;
	}