doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		title Admin
	body
		.ed-container
			.ed-item.base-20
				aside
					.logo
						img(src="img/logo.png", alt="")
					.aqui-les-va
						h1 Campañas 2016
						form#choose
							.campana
								h2 Seleccionar sala
								select
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
							.tienda
								h2 Seleccionar proveedor
								select
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
							.tienda
								h2 Estadísticas
								select
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
			.ed-item.base-80
				header.int
					h1 Estadísticas por tienda
					.items-header
						.custion
							.profile
								img.circulo(src="img/carita.jpg", alt="")
							p.nombre ¡Hola! Elisa Correa S.
							a.rejected(href="#") Cerrar sesión
				.content
					h2 Easy La Reina
					table.table
						thead
							tr
								th Nº registro
								th Foto
								th Usuario
								th Campaña
								th Fecha
								th Comentario

						tbody
							tr.tr-center
								td(style="width:10px;") 1
								td 
									img(src="http://placehold.it/100x100", alt="")
								td Luiz Sáez
								td Autos
								td 01/01/2015 
								td 123456789
							tr.tr-center
								td(style="width:10px;") 2
								td 
									img(src="http://placehold.it/100x100", alt="")
								td Luiz Sáez
								td Autos
								td 01/01/2015 
								td 123456789
							tr.tr-center
								td(style="width:10px;") 3
								td 
									img(src="http://placehold.it/100x100", alt="")
								td Luiz Sáez
								td Autos
								td 01/01/2015 
								td 123456789
							tr.tr-center
								td(style="width:10px;") 4
								td 
									img(src="http://placehold.it/100x100", alt="")
								td Luiz Sáez
								td Autos
								td 01/01/2015 
								td 123456789
							tr.tr-center
								td(style="width:10px;") 5
								td 
									img(src="http://placehold.it/100x100", alt="")
								td Luiz Sáez
								td Autos
								td 01/01/2015 
								td 123456789
							tr.tr-center
								td(style="width:10px;") 6
								td 
									img(src="http://placehold.it/100x100", alt="")
								td Luiz Sáez
								td Autos
								td 01/01/2015 
								td 123456789
							tr.tr-center
								td(style="width:10px;") 7
								td 
									img(src="http://placehold.it/100x100", alt="")
								td Luiz Sáez
								td Autos
								td 01/01/2015 
								td 123456789
					section.paginacion
						ul
							li
								a.activate(href="#") 1
							li
								a(href="#") 2
							li
								a(href="#") 3
							li
								a(href="#") 4
							li
								a(href="#") 5
							li
								a(href="#") 6
							li
								a(href="#") 7
							li
								a(href="#") 8
							li
								a(href="#") 9
							li
								a(href="#") 10


					




		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="js/scripts.js")
		script(src='js/jquery.slides.js')
