doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title Admin
  body
    .ed-container
      form#login.centrado
        .logo_login
          img(src="img/logo.png", alt="")
        input(type="text", placeholder="ingresa nombre de usuario")
        input(type="password", placeholder="ingresa tu contraseña")
        input(type="submit", value="Entrar")
    .ed-container.main-end
      footer
        img(src="img/logo-easy.png", alt="")
    



    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
