footer{
	//position: absolute;
    left: 0;
    bottom: 0 !important;
    height: auto;
    width: 100%;
    overflow:hidden;
	padding:15px;
	img{
		width: 12%;
	}
	p{
		color:$blanco;
		font-size: 0.5em;
		float: left;
		margin-right: 1em;
	}
}